@model IEnumerable<TpPW.Models.Tarea>

@{
    ViewBag.Title = "MisTareas";
    Layout = "~/Views/Shared/_User.cshtml";
}
<hr />
<h2 class="text-center">Mis Tareas</h2>
<hr />


<<<<<<< HEAD
<h4 class="text-center">@ViewBag.MensajeError</h4>
=======
<h5>@ViewBag.Mensaje</h5>
<div>
    <form method="get" action="" class="form-group">
        <div class="col-lg-6">
            <div class="col-lg-2 col-lg-offset-2">
                <select for="filtrado" id="filtrado" name="filtrado" class="form-control">
                    <option value=""> Todos</option>
                    <option @( Request.Form["filtrado"] == "2" ? "selected" : "") value="2"> Completas</option>
                    <option @( Request.Form["filtrado"] == "1" ? "selected" : "") value="1">Incompletas</option>
                </select>
            </div>
            <div class="col-lg-2">
                <input type="submit" value="Aplicar Filtros" class="btn btn-primary pull-right" />
            </div>
        </div>
    </form>
</div>
<br /><br />

>>>>>>> f327ab29adbf7a5fb4f20f7d3392471014cd5baf
<div class="col-lg-10 col-lg-offset-1">
    <table class="table table-bordered text-center">
        <tr class="info">
            <th class="text-center">
                Fecha Fin
            </th>
            <th class="text-center">
                Nombre
            </th>
            <th class="text-center">
                Prioridad
            </th>
            @*<th class="text-center">
                    Carpeta
                </th>*@
            <th class="text-center">
                Estimado
            </th>
            <th class="text-center">
                Completada
            </th>
            <th>

            </th>
            <th>

            </th>

        </tr>

        @foreach (var item in Model)

        {

            if (item.FechaCreacion < DateTime.Now)
            {
                @:
                <tr class="bg-danger"></tr>




                @:
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Prioridad)*@
                        @{
                            switch (item.Prioridad)
                            {
                                case 1:
                                    <text >
                                    Baja
                                    </text>
                                    break;
                                case 2:
                                    <text>
                                        Media
                                    </text>
                                    break;
                                case 3:
                                    <text>
                                        Alta
                                    </text>
                                    break;
                                case 4:
                                    <text>
                                        Urgente
                                    </text>
                                    break;
                                default:
                                    <text>
                                        -
                                    </text>
                                    break;
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimadoHoras) Hs
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Completada)*@
                        @{
                            switch (item.Completada)
                            {
                                case 0:
                                    <text >
                                    No
                                    </text>
                                    break;
                                case 1:
                                    <text>
                                        Si
                                    </text>
                                    break;
                                default:
                                    <text>
                                        -
                                    </text>
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Ver detalles", "DescripcionTarea", new { IdTar = item.IdTarea })
                    </td>

                    <td>
                        <input type="checkbox" id="TareaCompleta" name="TareaCom" /> Completa
                    </td>
                </tr>

            }



        }

    </table>
</div>
